<%- include ("./components/header.ejs") %>
<div class="container">
	<h1 class="">Sundar Clinic</h1>
	Click to verify your account
	<%=reactAppUrl%>/verifyAccount/authToken=<%=token%>
</div>
<%- include ("./components/footer.ejs") %>
