<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Verify Your Sundar Clinic Account with the given link!"
		/>
		<title>Sundar Clinic</title>
		<%- include ("./commonCss.ejs") %>
	</head>
	<body class="w-full h-screen">
