@tailwind base;
@tailwind utilities;
@tailwind components;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --red: #ff0000ff;
  --white: #ffffffff;
  --orange-peel: #ff9f1cff;
  --carolina-blue: #5299d3ff;
  --medium-purple: #9381ffff;
}

html{
  scroll-behavior: smooth;
}



